<p>
  You are have made it to the final menu page. <br>
  
  <% menus.each do |m| %>
    Monday Main - <%= m.monday_main %> <br>
    Score - <%= Losenoid::FoodItem.where({name: m.monday_main}).first.score %>
  <% end %>

<table border="1">
  <th colspan="100%"> Your Menu </th>
  <% menus.each do |m| %>
    <% days.each do |day| %>
      <tr>
        <td>
          <% main = m.send("#{day.downcase}_main")
             side = m.send("#{day.downcase}_side")
             main_score =  Losenoid::FoodItem.where({name: main})
                                             .first.score.to_i
             side_score = Losenoid::FoodItem.where({name: main})
                                            .first.score.to_i
          %>
          <%= day %> <br>
           Main - <%= main %> <br>
          Score - <%= main_score %>
        </td>
        <td>
          <%= day %> <br>
           Side - <%= side %> <br>
          Score - <%= side_score %>
        </td>
        <td>
          Daily Score - <%= main_score + side_score %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

</p>

</p>